{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}默认标题{% endblock %} - Limboyy</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <script src="{% static 'js/jquery.min.js' %} "></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/owl-carousel.js' %} "></script>
    <script src="{% static 'js/plugins.js' %} "></script>

    <script src="{% static 'js/init.js' %} "></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Dancing+Script:400,700|Raleway:400,100,300,700,900|Reenie+Beanie&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %} " rel="stylesheet">
    <link href="{% static 'pe-icons/css/pe-icon-7-stroke.css' %} " rel="stylesheet">
    <link href="{% static 'css/animate.css' %} " rel="stylesheet">
    <link href="{% static 'css/plugins.css' %} " rel="stylesheet">
    <link href="{% static 'style.css' %} " rel="stylesheet">

    <style>
        .nav-wrapper {
            background-image: url({% static 'images/header-bg.jpg' %});
        }
        #footer-wrapper {
            background-image: url({% static 'images/footer-bg.jpg' %} );
        }

    </style>

    <script type="text/javascript">
        $(function(){
            $('.succeed-into').click(function () {
                var pw = $('#yspace-pw').val();
                $(".alert-info").remove();
                $.ajax({
                    url: {% url 'yspace' %},
                    type: 'POST',
                    data: {'pw': pw, csrfmiddlewaretoken:'{{ csrf_token  }}'},
                    dataType: "json",
                    success: function (data) {
                        if(data['static'] == 'False'){
                            console.log(data['static']);
                            $(".modal-body").prepend("<div class='alert alert-info'>密码错误！</div>");
                        } else {
                            window.location.href = data['url'];
                        }
                    }

                });
            })
        })
    </script>

    {% block style %}
    {% endblock %}

    {% block script %}
    {% endblock %}




</head>
<body class="top-navigation pushy-right-side regular-nav">




    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">丫空间</h4>
                </div>
                <div class="modal-body">
{#                    <div class="alert alert-info">密码错误！</div>#}
                    <div class="form-group">
                        <input type="text" id="yspace-pw" class="form-control col-md-4 mb20" placeholder="密码 *" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary succeed-into">进入丫空间</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Site Overlay -->
    <div class="site-overlay"></div>
    <div id="master-wrapper">
        <div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><img src="{% static 'images/loading.gif' %} " alt="loading" /></span>
            </div>
        </div>

        <div id="top-bar" class="hidden-xs">
            <div class="container">
                <div class="col-sm-8">
                    <ul class="secondary-menu list-inline pull-right">
                        <li><a href="{% url 'index' %}">网站介绍</a></li>
                        <!--<li><a href="#">网站介绍</a></li>-->
                    </ul>
                </div>
            </div>
        </div>


        <div class="navbar nav-wrapper smoothie" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
{#                        <a class="logo" href="#"><img alt="" class="logo img-responsive" src="{% static 'images/logo-light1.png' %} "></a>#}
                        <button class="logo" data-toggle="modal" data-target="#myModal"><img alt="" class="logo img-responsive" src="{% static 'images/logo-light1.png' %} "></button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-sm-8">
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">算法 <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'numerical' %}">数值分析</a></li>
                                        <li><a href="#">机器学习</a></li>
                                        <li><a href="#">神经网络</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" role="button" aria-haspopup="true" aria-expanded="false">古风 </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" role="button" aria-haspopup="true" aria-expanded="false">吉他 </a>
                                </li>

                                <!--搜索-->
                                <!--<li class="dropdown">-->
                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>-->
                                    <!--<ul class="dropdown-menu">-->
                                        <!--<form class="form-inline">-->
                                            <!--<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button>-->
                                            <!--<input type="text" class="form-control pull-left" placeholder="Search">-->
                                        <!--</form>-->
                                    <!--</ul>-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
        <footer id="footer-wrapper" class="dark-wrapper">
            <div class="container">
                <div class="row mb90">
                    <div class="col-md-3 col-xs-6">
                        <div class="text-widget widget">
                            <div class="widget-content">
                                <img alt="" class="img-responsive" src="{% static 'images/logo-light1.png' %} ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

</body>
</html>