{% extends 'base.html' %}
{% load static %}
{% block title %}数值分析{% endblock %}


{% block style %}
    <style>

    </style>
{% endblock %}


{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block content %}
    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">数值分析</h3>
                        <!--<p class="section-sub-title">A Warm welcome to you.</p>-->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">

                    {% for numerical in numericals %}
                        <div class="col-md-4 match-height mb30">
                        <div class="hover-effect smoothie">
                            <a href="#" class="smoothie">
                                <img src="{% static numerical.imgPath %} " alt="Image" class="img-responsive smoothie"></a>
{#                                <img src="/static/{{ numerical.imgPath }}" alt="Image" class="img-responsive smoothie"></a>#}
                            <div class="hover-overlay smoothie text-center">
                                <div class="vertical-align-bottom">
                                    <h4>{{ numerical.nName }}</h4>
                                </div>
                            </div>
                            <div class="hover-caption dark-overlay smoothie text-center">
                                <div class="vertical-align-top">
                                    <p class="mb20"><small>{{ numerical.nSynopsis }}</small></p>
                                </div>
                                <div class="vertical-align-bottom">
                                    <a href="{% url 'numNext' numerical.id %}" class="btn btn-primary pull-right mb20">查看 </a>
{#                                    <a href="numNext/{{ numerical.id }}" class="btn btn-primary pull-right mb20">查看 </a>#}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}