{% extends 'base.html' %}
{% load static %}
{% block title %}数值分析{% endblock %}


{% block style %}
    <style>

    </style>
{% endblock %}


{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}


{% block content %}
        <section class="white-wrapper">
            <div class="section-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="owl-carousel remove-item-paddings mb60" data-items="1">
                                <div class="match-height nopaddingleftright">
                                    <div class="hover-effect smoothie">
                                        <img src="{% static res.imgPath %} " alt="Image" class="img-responsive smoothie">
                                    </div>
                                </div>
{#                                <div class="match-height nopaddingleftright">#}
{#                                    <div class="hover-effect smoothie">#}
{#                                        <img src="{% static 'images/blog/blog-slider-2.jpeg' %} " alt="Image" class="img-responsive smoothie">#}
{#                                    </div>#}
{#                                </div>#}
                            </div>
                            <h1 class="section-title mb20">{{ res.nName }}</h1>
                            <div class="item-metas text-muted mb30 white">
                            </div>
                            <p>{{ res.nIntroduce }}</p>

                            <div class="mb90 clearfix"></div>

                            <div id="comments-list" class="wow fadeIn" data-wow-delay="0.2s">
                                <div id="comments-form" class="row wow fadeIn" data-wow-delay="0.2s">
                                    <div class="col-md-12">
                                        <div class="mt60 mb50 single-section-title">
                                            <h3>数据提交</h3>
                                        </div>
{#                                        <div id="message" class="col-sm-12"></div>#}
{#                                        <div>#}
{#                                            <form method="post" action="{% url 'algAction' %}" id="commentform" class="main-contact-form">#}
    {#                                            {% csrf_token %}#}
{#                                                <textarea name="parameter" class="form-control mb40" id="parameter" placeholder="{{ res.dataForm }}" required data-validation-required-message="请提交你的参数"></textarea>#}
{#                                                <input class="btn btn-primary mt30 pull-right" type="submit" name="submit" value="提交" />#}
{#                                            </form>#}
{#                                        </div>#}

                                        <div id="message" class="col-sm-12"></div>
                                        <div class="col-sm-12">
                                            <form method="post" action="{% url 'algAction' %}" id="contactform" class="main-contact-form">
                                                <textarea name="comments" class="form-control mb20" id="comments" placeholder="{{ res.dataForm }}" required data-validation-required-message="请提交你的参数。"></textarea>
                                                <input class="btn btn-primary mt30 pull-right" type="submit" name="submit" value="提交" />
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}