{% extends 'base.html' %}
 
{% block title %}网站介绍{% endblock %}


{% block style %}
    <style>

    </style>
{% endblock %}


{% block script %}
    <script type="text/javascript">

    </script>
{% endblock %}

{% block content %}
    <section class="white-wrapper">
        <div class="section-inner">
            <div class="container">
                <div class="row mb60 text-center">
                    <div class="col-sm-12">
                        <h3 class="section-title">网站介绍</h3>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 ">
                        <div class="mb60">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p>网站的主要功能是介绍和使用一些算法，如：机器学习，数值分析，神经网络等；
                                        还有一些兴趣爱好。</p>
                                        <p>作者在web开发上没有太多经验，网站的bug比较多（手机端可能更多）。
                                            如果有什么需要改进的地方，可以联系作者。
                                            有时间就会去修改。
                                        </p>
                                    </div>
                                    <div class="col-sm-8 col-sm-offset-1">
                                        <div class="row">
                                            <div id="message" class="col-sm-12"></div>
                                            <div class="col-sm-12">
                                                <form method="post" action="{% url 'index' %}" id="contactform" class="main-contact-form">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control col-md-4 mb20" name="name" placeholder="姓名 *" id="name" required data-validation-required-message="请输入你的名字。" />
                                                        <input type="text" class="form-control col-md-4 mb20" name="email" placeholder="邮箱 *" id="email" required data-validation-required-message="请输入你的邮箱。" />
                                                    </div>
                                                    <textarea name="comments" class="form-control mb20" id="comments" placeholder="建议 *" required data-validation-required-message="请输入你的建议。"></textarea>
                                                    <input class="btn btn-primary mt30 pull-right" type="submit" name="submit" value="提交" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}