{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}丫空间{% endblock %} - Limboyy</title>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">
    <script src="{% static 'js/jquery.min.js' %} "></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
    <script src="{% static 'js/owl-carousel.js' %} "></script>
    <script src="{% static 'js/plugins.js' %} "></script>

    <script src="{% static 'js/init.js' %} "></script>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700,900|Dancing+Script:400,700|Raleway:400,100,300,700,900|Reenie+Beanie&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %} " rel="stylesheet">
    <link href="{% static 'pe-icons/css/pe-icon-7-stroke.css' %} " rel="stylesheet">
    <link href="{% static 'css/animate.css' %} " rel="stylesheet">
    <link href="{% static 'css/plugins.css' %} " rel="stylesheet">
    <link href="{% static 'style.css' %} " rel="stylesheet">

    <style>
        .nav-wrapper {
            background-image: url({% static 'images/header-bg.jpg' %});
        }
        #footer-wrapper {
            background-image: url({% static 'images/footer-bg.jpg' %} );
        }

    </style>



</head>
<body class="top-navigation pushy-right-side regular-nav">

    <!-- Site Overlay -->
    <div class="site-overlay"></div>
    <div id="master-wrapper">
        <div class="preloader">
            <div class="preloader-img">
                <span class="loading-animation animate-flicker"><img src="{% static 'images/loading.gif' %} " alt="loading" /></span>
            </div>
        </div>

        <div id="top-bar" class="hidden-xs">
            <div class="container">
                <div class="col-sm-8">
                    <ul class="secondary-menu list-inline pull-right">
                        <li><a href="{% url 'index' %}">网站介绍</a></li>
                        <!--<li><a href="#">网站介绍</a></li>-->
                    </ul>
                </div>
            </div>
        </div>


        <div class="navbar nav-wrapper smoothie" style="">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="logo" href="#"><img alt="" class="logo img-responsive" src="{% static 'images/logo-light1.png' %} "></a>
{#                        <button class="logo" data-toggle="modal" data-target="#myModal"><img alt="" class="logo img-responsive" src="{% static 'images/logo-light1.png' %} "></button>#}
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="col-sm-8">
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown">
                                    <a href="#" role="button" aria-haspopup="true" aria-expanded="false">放下 </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for classify in res %}
            <section id="our-work" class="white-wrapper">
                <div class="section-inner nopaddingbottom nopaddingtop">
                    <div class="container-fluid nopaddingleftright">
                        <div class="row nopaddingleftright">
                            <div class="owl-carousel remove-item-paddings" data-items="3">
                                {% for i in classify %}
                                    <div class="match-height nopaddingleftright">
                                        <div class="hover-effect smoothie">
                                            <a href="#" class="smoothie">
                                            <img src="{% static i.path %}" alt="Image" class="img-responsive smoothie"></a>
                                            <div class="hover-caption dark-overlay smoothie text-center">
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}

        <a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
        <footer id="footer-wrapper" class="dark-wrapper">
            <div class="container">
                <div class="row mb90">
                    <div class="col-md-3 col-xs-6">
                        <div class="text-widget widget">
                            <div class="widget-content">
                                <img alt="" class="img-responsive" src="{% static 'images/logo-light1.png' %} ">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-widget widget">
                            <h4 class="widget-title mb40">再见</h4>
                            <div class="widget-content">
                                <p>愿我们都有人陪
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-widget widget">
                            <h4 class="widget-title mb40">学会了</h4>
                            <div class="widget-content">
                                <p>
                                    这一次我学会了
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="text-widget widget">
                            <h4 class="widget-title mb40">怕了</h4>
                            <div class="widget-content">
                                <p>
                                    下一次遇到喜欢我的女生，我会加倍小心的
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

</body>
</html>




